Remove "subflow" from first para in Section 2

Olivier's comment in https://mailarchive.ietf.org/arch/msg/tsvwg/T-9P8iVoU5i89VK9QJXnOG_IsL4/

`Section 2: First para, I would not use the term subflow here`

Can you make a proposal what sounds better. So far we stick to the terminology asused in RFC4340 Section 17.2. 

Also we explain in the Introduction (https://www.ietf.org/archive/id/draft-ietf-tsvwg-multipath-dccp-09.html#name-introduction-5) the difference between MP-DCCP and Application subflow.

In the following, the term subflow refers to DCCP subflows transmitted via different paths (4-tuple of source and destination address/port pairs), not to be mixed up with the "application sub-flows" mentioned in Section 17.2 of [[RFC4340](https://www.ietf.org/archive/id/draft-ietf-tsvwg-multipath-dccp-09.html#RFC4340)]. Application subflows are differing content-wise by source and destination port per application as, for example, enabled by Service Codes introduced to DCCP in [[RFC5595](https://www.ietf.org/archive/id/draft-ietf-tsvwg-multipath-dccp-09.html#RFC5595)], and those application subflows can be multiplexed over a single DCCP connection.